absl-py==2.1.0
accelerate==0.28.0
aiohttp==3.9.3
aiosignal==1.3.1
alabaster==0.7.13
albumentations==1.3.1
altair==5.3.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
arabic-reshaper==3.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asn1crypto==1.5.1
astor==0.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Authlib==1.3.0
Babel==2.14.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backoff==2.2.1
backports.zoneinfo==0.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bitsandbytes==0.43.1
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
boltons==24.0.0
boto3==1.34.54
botocore==1.34.54
build==1.1.1
cachetools==5.3.2
camelot-py==0.11.0
catalogue==2.0.10
certifi==2023.7.22
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.5.0
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cloudpathlib==0.16.0
cloudpickle==3.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1704278392174/work
confection==0.1.4
ConfigArgParse==1.7
contourpy==1.1.1
coverage==5.3.1
cryptography==42.0.5
cssselect2==0.7.0
cycler==0.10.0
cymem==2.0.8
Cython==3.0.10
dash==2.16.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.5.0
data-gradients==0.3.2
dataclasses-json==0.6.4
datasets==2.17.1
dateutils==0.6.12
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distro==1.9.0
Django==4.2.10
docutils==0.17.1
duckdb==0.10.2
easyocr==1.7.1
effdet==0.4.1
einops==0.3.2
emoji==2.11.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
eppy==0.5.63
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
face==20.1.1
fastapi==0.110.2
fastjsonschema==2.19.1
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
filetype==1.2.0
fire==0.6.0
Flask==3.0.2
flatbuffers==23.5.26
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.10.0
ftfy==6.1.3
future==1.0.0
gast==0.4.0
ghostscript==0.7
gitdb==4.0.11
GitPython==3.1.43
glom==23.5.0
gmpy2 @ file:///C:/ci/gmpy2_1645456279018/work
google-api-core==2.17.1
google-auth==2.28.1
google-auth-oauthlib==1.0.0
google-cloud-aiplatform==1.42.1
google-cloud-bigquery==3.17.2
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.2
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gpt4all==2.6.0
graphlib_backport==1.1.0
greenlet==3.0.3
grobid-client-python==0.0.5
grpc-google-iam-v1==0.13.0
grpcio==1.63.0
grpcio-health-checking==1.63.0
grpcio-status==1.62.0
grpcio-tools==1.63.0
gw_dsl_parser==0.1.48a5
h11==0.14.0
h5py==3.10.0
helper==2.5.0
html5lib==1.1
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.20.3
humanfriendly==10.0
hydra-core==1.3.2
idna==3.7
imagededup==0.3.2
imageio==2.34.0
imagesize==1.4.1
importlib-metadata==7.0.0
importlib-resources==6.1.1
imutils==0.5.4
iniconfig==2.0.0
iopath==0.1.10
ipykernel @ file:///D:/bld/ipykernel_1707326433944/work
ipympl==0.9.3
ipython @ file:///D:/bld/ipython_1680185618122/work
ipython-genutils==0.2.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///C:/b/abs_f7x5a8op2h/croot/jinja2_1706733672594/work
jmespath==1.0.1
joblib==1.3.2
JPype1==1.5.0
json-tricks==3.16.1
json5==0.9.17
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-contrib-core==0.4.2
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter-nbextensions-configurator==0.6.3
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core @ file:///D:/bld/jupyter_core_1669775263822/work
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_widgets==3.0.10
kanaries_track==0.0.5
keras==2.13.1
keyboard==0.13.5
kiwisolver==1.4.5
kubernetes==29.0.0
langchain==0.1.19
langchain-community==0.0.38
langchain-core==0.1.52
langchain-experimental==0.0.58
langchain-google-vertexai==0.1.0
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.1.23
layoutparser==0.3.4
lazy_loader==0.3
Levenshtein==0.25.1
libclang==16.0.6
lightning==2.2.2
lightning-utilities==0.11.2
line_profiler==4.1.3
llama-index==0.10.36
llama-index-agent-openai==0.2.4
llama-index-cli==0.1.12
llama-index-core==0.10.36
llama-index-embeddings-openai==0.1.9
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.18
llama-index-multi-modal-llms-openai==0.1.5
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.22
llama-index-readers-llama-parse==0.1.4
llama-parse==0.4.2
llamaindex-py-client==0.1.19
llvmlite==0.41.1
locket==1.0.0
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
marshmallow==3.21.1
matplotlib==3.7.5
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
memory-profiler==0.61.0
mistune==3.0.2
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.2.0
mplcursors==0.5.3
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msg-parser==1.2.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
munch==4.0.0
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
ncls==0.0.68
necessary==0.4.3
neo4j==5.17.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
ninja==1.11.1.1
nltk==3.8.1
notebook==7.1.0
notebook_shim==0.2.4
nougat-ocr==0.1.17
numba==0.58.1
numpy==1.24.4
oauthlib==3.2.2
olefile==0.47
omegaconf==2.3.0
onnx==1.13.0
onnxruntime==1.15.1
onnxsim==0.4.35
open3d==0.18.0
openai==1.28.0
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.9.15
oscrypto==1.3.0
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.0.3
pandocfilters==1.5.1
papermage==0.20.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.4.1
pdf2docx==0.5.8
pdf2image==1.17.0
pdfminer.six==20220524
pdfplumber==0.7.4
pdftopng==0.2.3
peft==0.10.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pikepdf==8.15.1
pillow @ file:///C:/b/abs_e22m71t0cb/croot/pillow_1707233126420/work
pip-tools==7.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.0
playwright==1.42.0
plotly==5.19.0
pluggy==1.5.0
pooch==1.8.1
portalocker==2.8.2
posthog==3.5.0
preshed==3.0.9
prometheus_client==0.20.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
proto-plus==1.23.0
protobuf==4.25.3
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyclipper==1.3.0.post5
pyCloudCompareCLI==0.2
pycocotools==2.0.6
pycocotools-windows==2.0.0.2
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
pydeck==0.9.1
pyDeprecate==0.3.2
pydot==2.0.0
pydot3k==1.0.17
pyee==11.0.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pygwalker==0.4.8.5
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
pynndescent==0.5.12
pypandoc==1.13
pyparsing==3.1.2
pypdf==4.0.2
PyPDF2==3.0.1
pypdfium2==4.29.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.0.0
pyreadline3==3.4.1
pysbd==0.3.4
pyspark==3.5.1
pytesseract==0.3.10
pytest==8.2.0
python-bidi==0.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-docx==1.1.0
python-dotenv==1.0.1
python-iso639==2024.2.7
python-json-logger==2.0.7
python-Levenshtein==0.25.1
python-magic==0.4.27
python-multipart==0.0.9
python-pptx==0.6.23
pytorch-lightning==2.2.2
pytube==15.0.0
pytz==2024.1
pyvista==0.43.8
PyWavelets==1.4.1
pywin32==227
pywinpty==2.0.12
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
qrcode==7.4.2
qudida==0.0.4
ragas==0.1.3
rapidfuzz==3.8.1
rapidocr-onnxruntime==1.3.17
referencing==0.33.0
regex==2023.12.25
reportlab==3.6.13
requests @ file:///C:/b/abs_474vaa3x9e/croot/requests_1707355619957/work
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requirements-parser==0.9.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
roboflow==1.1.21
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.0
safetensors==0.4.2
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.0
sconf==0.2.5
scooby==0.10.0
seaborn==0.13.2
segment-analytics-python==2.2.3
Send2Trash==1.8.2
sentence-transformers==2.5.1
sentencepiece==0.2.0
shapely==2.0.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.4.0
smashed==0.21.5
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==4.0.3
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.28
sqlglot==23.17.0
sqlparse==0.4.4
srsly==2.4.8
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.37.2
streamlit==1.36.0
stringcase==1.2.0
striprtf==0.0.26
super-gradients==3.6.0
supervision==0.18.0
svglib==1.5.1
sympy @ file:///C:/b/abs_82njkonm7f/croot/sympy_1701397685028/work
tabula-py==2.9.0
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
terminado==0.18.0
textblob==0.18.0.post0
thinc==8.2.3
thop==0.1.1.post2209072238
threadpoolctl==3.3.0
tifffile==2023.7.10
tiktoken==0.6.0
timm==0.9.16
tinycss2==1.2.1
tinynumpy==1.2.1
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.2.1
torchaudio==2.2.1
torchmetrics==0.8.0
torchvision==0.17.1
tornado @ file:///D:/bld/tornado_1656937958156/work
tqdm==4.66.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1704212992681/work
trame==3.6.0
trame-client==3.0.2
trame-server==3.0.0
trame-vtk==2.8.8
transformers==4.38.1
treelib==1.6.1
trouting==0.3.3
typer==0.9.4
types-protobuf==4.24.0.20240311
types-python-dateutil==2.8.19.20240106
types-requests==2.31.0.20240311
types-setuptools==69.5.0.20240423
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
tzlocal==5.2
ultralytics==8.1.18
umap-learn==0.5.6
unstructured==0.11.8
unstructured-client==0.22.0
unstructured-inference==0.7.18
unstructured.pytesseract==0.3.12
uri-template==1.3.0
uritools==4.0.2
urllib3==1.26.19
uvicorn==0.29.0
validators==0.28.1
vertexai==0.0.1
vila==0.5.0
vtk==9.3.0
Wand==0.6.13
wasabi==1.1.2
wasmtime==12.0.0
watchdog==4.0.1
watchfiles==0.21.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
weasel==0.3.4
weaviate-client==4.6.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wikipedia==1.4.0
Wikipedia-API==0.6.0
wrapt==1.16.0
wslink==2.0.2
xarray==2023.1.0
xhtml2pdf==0.2.11
xlrd==2.0.1
XlsxWriter==3.2.0
xxhash==3.4.1
yarl==1.9.4
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
